<a href="https://colab.research.google.com/github/MididoddiSindhu05/2303A51462_B-7/blob/main/Lab-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

df = pd.read_excel("/content/lab_4.csv.xlsx")

df.columns = df.columns.str.strip()

df_filled = df.fillna(df.mean(numeric_only=True))

filtered_students = df_filled[(df_filled.drop(columns=['name']) > 75).all(axis=1)]

print("Students scoring more than 75 in all subjects:")
print(filtered_students)

filtered_students.to_excel("filtered_students.xlsx", index=False)

Students scoring more than 75 in all subjects:
   student_id     name      maths  science  english
0        1498  sahithi  99.000000       88    100.0
1        1455    sanju  89.000000       77    100.0
5        1819    vigna  77.166667       78     93.0

#Lab-4(Health Care)

In [8]:
import pandas as pd

df = pd.read_excel("/content/Lab_4(Health Care).csv.xlsx")

df["Age"] = df["Age"].fillna(df["Age"].median())

filtered = df[(df["Gender"].str.lower() == "female") &
              (df["Age"] > 50) &
              (df["Diagnosis"].str.lower() == "diabetes")]

print("Female patients above 50 diagnosed with Diabetes:")
print(filtered)

filtered.to_csv("filtered_patients.csv", index=False)

Female patients above 50 diagnosed with Diabetes:
  Patient_ID    Name   Age  Gender Diagnosis       Admission_Date
0       P101   Meera  55.0  Female  Diabetes  2025-12-03 00:00:00
2       P103  Ananya  52.5  Female  Diabetes            1/25/2025
4       P105  Saanvi  72.0  Female  Diabetes  2025-10-02 00:00:00
6       P107    Isha  52.5  Female  Diabetes            1/15/2025